@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Merriweather:ital,wght@1,700&display=swap');

/* Set margins, padding and borders to 0 */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lora, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and Logo */

h1,
h2 {
    font-family: Merriweather, sans-serif;
    color: #252525
}

#logo {
    float: left;
    font-size: 300%;

}

#logo,
#nav-bar {
    line-height: 75px;
}

#nav-bar {
    font-size: 150%;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.current {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero-image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

/* Text on hero image */

#image-text {
    font-size: 175%;
    font-family: Merriweather, sans-serif;
    text-align: center;
    line-height: 100px;

    max-width: 600px;
    height: 200px;
    padding: 50px;

    background-color: rgba(197, 157, 110, .8);

    bottom: 40%;
    right: 35%;
    position: absolute;
}

#image-text a {
    color: #3a3a3a;
    font-size: 125%;
    vertical-align: top;
}

/* Why Choose Us Section*/

#responsive-cards h2 {
    margin-top: 30px;
    text-align: center;
    font-size: 200%;
}

#responsive-cards {
    box-sizing: border-box;
    font-family: inherit;
}

#responsive-cards div {
    display: inline-block;
    color: white;
    vertical-align: bottom;
    justify-content: center;
    margin: 0 auto;
}

.container {
    position: relative;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    left: 7%;
}

.container .card {
    position: relative;
    max-width: 300px;
    height: 300px;
    background-color: rgba(44, 52, 43);
    margin: 30px 10px;
    padding: 20px 15px;

    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(44, 52, 43, .5);
    transition: 0.3s ease-in-out;
    border-radius: 15px;
}

.container .card:hover {
    height: 400px;
}

.container .card .image {
    position: relative;
    width: 260px;
    height: 410px;

    top: -10%;
    left: 8px;
    box-shadow: 0 5px 20px rgba(44, 52, 43, .2);
    z-index: 1;
}

.image img {
    padding-left: 10px;
    padding-top: 20px;
}

.container .card .image img {
    max-width: 100%;
    border-radius: 15px;
}

.container .card .content {
    position: relative;
    top: -200px;
    padding: 10px 15px;
    color: white;
    text-align: center;

    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}

/* Opening Times */

.times-location h2 {
    margin-top: 100px;
    text-align: center;
    font-size: 200%;
}

.times-location-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    width: 100%;
}

.times {
    font-size: 120%;
    line-height: 30px;
    align-content: space-between;
}

.times h3 {
    font-size: 120%;
    text-align: center;
}

.table td {
    font-size: 120%;
    line-height: 20px;
    text-align: center;
    border-style: 1px solid dotted rgba(44, 52, 43);
}

.find-us h3 {
    text-align: center;
    font-size: 150%;
    padding-top: 30px;
}

.find-us p {
    font-weight: bold;
}

/* Footer */

footer {
    height: 150px;
    background-color: rgba(44, 52, 43);
    color: rgba(197, 157, 110);
}

#socials {
    text-align: center;
}

#socials>li,
h3 {
    display: inline;
}

#socials i {
    font-size: 175%;
    color: rgba(197, 157, 110);
    margin: 30px;

}

/* Media Queries for screen max width of 345px */
@media screen and (max-width: 345px) {

    #logo {
        text-align: center;
    }

    #nav-bar a {
        font-size: 70%;
    }

    #image-text {
        line-height: 50px;
    }

    #responsive-cards div {
        width: 75%;
    }

    .container .card .content {
        top: -300px;
    }
}

/* Media Queries for screen max width of 750px */
@media screen and (max-width: 750px) {

    #logo,
    #nav-bar a {
        width: 100%;
    }

    #image-text {
        height: 350px;
        line-height: 50px;
        bottom: 20%;
        padding: 25px;
    }

    #responsive-cards div {
        width: 75%;
    }

    .container .card .content {
        top: -300px;
    }
}

/* Media Queries for screen max width 1025px */
@media screen and (max-width: 1025px) {
    #image-text {
        right: 0%;
    }
}