@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Merriweather:ital,wght@1,700&display=swap');

/* Set margins, padding and borders to 0 */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lora, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and Logo */

h1,
h2 {
    font-family: Merriweather, sans-serif;
    color: #252525
}

#logo {
    float: left;
    font-size: 300%;

}

#logo,
#nav-bar {
    line-height: 75px;
}

#nav-bar {
    font-size: 150%;
    padding-bottom: 100px;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.current {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero-image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

/* Text on hero image */

#image-text {
    font-size: 175%;
    font-family: Merriweather, sans-serif;
    text-align: center;
    line-height: 100px;

    max-width: 600px;
    height: 200px;
    padding: 50px;

    background-color: rgba(197, 157, 110, .8);

    bottom: 40%;
    right: 35%;
    position: absolute;
}

#image-text a {
    color: #3a3a3a;
    font-size: 125%;
    vertical-align: top;
}

/* Why Choose Us Section*/

#responsive-cards h2 {
    margin-top: 30px;
    text-align: center;
    font-size: 200%;
}

#responsive-cards {
    box-sizing: border-box;
    font-family: inherit;
}

#responsive-cards div {
    display: inline-block;
    color: white;
    vertical-align: bottom;
    justify-content: center;
    margin: 0 auto;
}

.container {
    position: relative;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    left: 7%;
}

.container .card {
    position: relative;
    max-width: 300px;
    height: 300px;
    background-color: rgba(44, 52, 43);
    margin: 30px 10px;
    padding: 20px 15px;

    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(44, 52, 43, .5);
    transition: 0.3s ease-in-out;
    border-radius: 15px;
}

.container .card:hover {
    height: 400px;
}

.container .card .image {
    position: relative;
    width: 260px;
    height: 410px;

    top: -10%;
    left: 8px;
    box-shadow: 0 5px 20px rgba(44, 52, 43, .2);
    z-index: 1;
}

.image img {
    padding-left: 10px;
    padding-top: 20px;
}

.container .card .image img {
    max-width: 100%;
    border-radius: 15px;
}

.container .card .content {
    position: relative;
    top: -200px;
    padding: 10px 15px;
    color: white;
    text-align: center;

    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}

/* Opening Times */

.times {
    width: 50%;
    text-align: center;
}

.times h3 {
    font-size: 200%;
    margin-bottom: 20px;
}

.times ol {
    font-size: 150%;
    list-style-type: none;
}

.times-location {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 150px;
}

.find-us {
    text-align: center;
    margin-right: 20%;
}

.find-us h3 {
    font-size: 200%;
}

.find-us p {
    font-size: 150%;
}

.map {
    margin-top: 50px;
}

/* Footer */

footer {
    height: 150px;
    background-color: rgba(44, 52, 43);
    color: rgba(197, 157, 110);
}

#socials {
    text-align: center;
    padding-top: 10px;
}

#socials>li {
    display: inline;
}

#socials i {
    font-size: 175%;
    color: rgba(197, 157, 110);
    margin: 30px;
}

/* Menu Page */

#menu {
    text-align: center;
    font-size: 175%;
    font-weight: 800;
    clear: both;
    background-color: rgba(197, 157, 110);
    margin-top: 50px;
}

#bakery-menu {
    background-image: url(../images/menu-page-image.jpg);
    background-size: cover;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    gap: 50px;
}

.menu-type {
    background-color: rgba(197, 157, 110, .9);
    border-radius: 15px;
    width: 30%;
    height: 300px;
    border: 1px solid #252525;
    margin: 20px;
}

.items,
.prices {
    font-size: 120%;
    font-weight: 500;
    list-style-type: none;
    margin-left: 70px;
    float: left;
}

.menu-type h2 {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

/* Contact Page */

#contact-title h1 {
    font-size: 200%;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 10px;
    clear: both;
}

#contact-title p {
    font-size: 120%;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    max-width: 50%;
}

#form-section {
    background: url(../images/contact-image.jpg) no-repeat center center / cover;
    height: 900px;
    width: 100%;
    position: relative;
}

.form {
    background-color: rgba(212, 212, 224, .8);
    width: 450px;
    height: 700px;

    position: absolute;
    border-radius: 15px;
    left: 50px;
    top: 50px;
}

.details {
    color: rgba(44, 52, 43);
    width: 60%;
    margin: 20px;
    height: 40px;
}

.details:hover {
    background-color: rgba(44, 52, 43, .2);
}

input::placeholder {
    color: white;
}

label {
    font-weight: 800;
    font-size: 120%;
    padding-left: 10px;
    width: 40%;
}

.query {
    height: 150px;
    width: 80%;
    margin: 20px;
}

.consent-button {
    font-size: 90%;
    text-align: center;
}

.button {
    margin-left: 20px;
}

.submit {
    text-align: center;
    width: 100px;
    height: 30px;
    background-color: rgba(44, 52, 43);
    color: white;
    margin-top: 50px;
    margin-left: 40%;
}

/* Thank You Page */

/* Media Queries for screen max width of 355px */
@media screen and (max-width: 355px) {

    #logo {
        text-align: center;
    }

    #nav-bar a {
        font-size: 70%;
    }

    #image-text {
        line-height: 50px;
    }

    #responsive-cards div {
        width: 75%;
    }

    .container .card .content {
        top: -300px;
    }

    footer {
        height: 200px;
        width: 100%;
    }

    #socials i {
        margin-top: 20px;
        padding: 0;
    }
}

/* Media Queries for screen max width of 983px */
@media screen and (max-width: 983px) {

    #logo,
    #nav-bar a {
        width: 100%;
    }

    #image-text {
        height: 350px;
        line-height: 50px;
        bottom: 20%;
        padding: 25px;
    }

    #responsive-cards div {
        width: 75%;
    }

    .container .card .content {
        top: -300px;
    }

    .times {
        margin-bottom: 50px;
        text-align: left;
    }

    .find-us {
        text-align: left;
        clear: both;
    }

    #form-section {
        background-size: cover;
    }

    .form {
        left: 0;
    }
}

/* Media Queries for screen max width 1025px */
@media screen and (max-width: 1025px) {
    #image-text {
        right: 0%;
    }

    div.container {
        padding-top: 30px;
        padding-left: 0;
    }

}

/* Media Queries for screen min width 1026px */
@media screen and (min-width: 1026px) {
    #responsive-cards {
        width: 100%;
    }

    div.container {
        padding-top: 30px;
        padding-left: 0;
    }
}